@CHARSET "UTF-8";

h1 a {
	margin-right: 20px;
	float: right;
}

nav li {
	display: inline;
	margin-left: 20px;
}
	
nav {
	display: block;
	border-top-color: gray;
	border-style: groove;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	margin-bottom: 20px;
}

li {
	list-style-type: none;
}

fieldset {
	border-style: none; 
}

body form {
	padding-left: 40px; 
}

form div {
	margin-bottom: 10px;
}


label, 
textarea, 
input[type="submit"], 
input[type="text"],
input[type="button"] {
	margin-right: 20px;
}

input.title {
	clear: left;
	width: 340px;
}

div {
 	float: left;
 	clear: both;
}

div#title_div,
div[class^="section_row_"] {
 	float: left;
 	clear: left;
}

input[name^="delete_section_"]{
	float: right;
}

div#group_div {
 	float: left;
 	clear: right;
 	width: 60px;
}

label, input {
	float:left;
}

div.question textarea, 
div.section div[class^="section_row_"] textarea{
	clear: left;
	float: left;
	width: 340px;
	height: 100px;
}

input[type="image"] {
	vertical-align : text-bottom;
	margin: 2px 0 0;
}

input[name^="add_alt_"]{
	margin: 10px 0 0 172px;
}

.question_row_4 {
	display:none;
}

.visible {
	display:block;
}